body{
  background-color: #303030;
  color: #303030;
  background-image: url("../public/assets/images/paper-background.png");
  font-family: "Brush Script MT", cursive;
}

button{
  background-image: url("../public/assets/images/paper-background.png");
  border-style: solid;
  border-color: #ffffff;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  font-family: "Brush Script MT", cursive;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-footer{
  position: absolute;
  bottom: 0;
}

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Monster-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description{
  max-width: 1500px;
  align-self: center;
  justify-self: center;
}

.navbar{
  display: flex;
  justify-content: center;
  font-size: larger;
  border: solid black;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

.NavLink{
  margin: 15px;
  color: #303030;
}

.small-icon{
  height: 150px;
  width: 150px;
}

.monster-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.monster{
  flex: 1;
  flex-basis: 20%;
  margin: 25px;
}

.ailments{
  display: flex;
  justify-content: center;
  max-width: 250px;
}

.ailment{
  max-width: 150px;
}

.armor-sets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill{
  width: 250px;
}

.ancient-forest{
  margin: auto;
  background-image: url("../public/assets/images/locations/ancient-forest.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wildspire-waste{
  margin: auto;
  background-image: url("../public/assets/images/locations/wildspire-waste.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coral-highlands{
  margin: auto;
  background-image: url("../public/assets/images/locations/coral-highlands.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotten-vale{
  margin: auto;
  background-image: url("../public/assets/images/locations/rotten-vale.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elder\'s-recess{
  margin: auto;
  background-image: url("../public/assets/images/locations/elder\'s-recess.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.great-ravine{
  margin: auto;
  background-image: url("../public/assets/images/locations/great-ravine.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confluence-of-fates{
  margin: auto;
  background-image: url("../public/assets/images/locations/confluence-of-fates.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.everstream{
  margin: auto;
  background-image: url("../public/assets/images/locations/everstream.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caverns-of-el-dorado{
  margin: auto;
  background-image: url("../public/assets/images/locations/caverns-of-el-dorado.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-arena{
  margin: auto;
  background-image: url("../public/assets/images/locations/special-arena.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arena{
  margin: auto;
  background-image: url("../public/assets/images/locations/arena.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoarfrost-reach{
  margin: auto;
  background-image: url("../public/assets/images/locations/hoarfrost-reach.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guiding-lands{
  margin: auto;
  background-image: url("../public/assets/images/locations/guiding-lands.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secluded-valley{
  margin: auto;
  background-image: url("../public/assets/images/locations/secluded-valley.png");
  background-size: 1280px 720px;
  width: 1280px;
  height: 720px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}